<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_2_4.xsd">
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>MI.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logininfo</servlet-name>
        <servlet-class>MI.logininfo</servlet-class>
    </servlet>
    <!--<servlet>
        <servlet-name>GetLoanDetaisl</servlet-name>
        <servlet-class>MI.GetLoanDetaisl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetLoanDetails</servlet-name>
        <servlet-class>MI.GetLoanDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetLoanDetails1</servlet-name>
        <servlet-class>MI.GetLoanDetails1</servlet-class>
    </servlet>-->
    <servlet>
        <servlet-name>StoreLoanDetails</servlet-name>
        <servlet-class>MI.StoreLoanDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StorePolicyDetails</servlet-name>
        <servlet-class>MI.StorePolicyDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StoreDollarDetails</servlet-name>
        <servlet-class>MI.StoreDollarDetails</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/DoRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logininfo</servlet-name>
        <url-pattern>/logininfo</url-pattern>
    </servlet-mapping>
    <!--<servlet-mapping>
        <servlet-name>GetLoanDetaisl</servlet-name>
        <url-pattern>/GetLoanDetaisl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetLoanDetails</servlet-name>
        <url-pattern>/GetLoanDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetLoanDetails1</servlet-name>
        <url-pattern>/GetLoanDetails1</url-pattern>
    </servlet-mapping>-->
    <servlet-mapping>
        <servlet-name>StoreLoanDetails</servlet-name>
        <url-pattern>/StoreLoanDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StorePolicyDetails</servlet-name>
        <url-pattern>/StorePolicyDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StoreDollarDetails</servlet-name>
        <url-pattern>/StoreDollarDetails</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    /</web-app>
